body {
    background-image:url(../images/surfer.jpg);
    background-size: 100%;
    background-attachment:fixed;
    background-repeat: no-repeat;
    font-family:  Helvetica;
    text-align: center;
    height:100vh;
    width: 100vw;
    padding:0;
    margin:0;
}

/* label recherche */

label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input, label {
    margin: .4rem 0;
}

/* le reste */

.barre-recherche {
    padding-top: 30vh;
    font-size:x-large;
    position:relative;
    right: 20vw;
}

.navigation {
    display: block;
    position: sticky;
    padding: 5px 0 5px 0;
    background-color: darkcyan;
    height: 50px;
}

a.txt {
    position: relative;
    bottom: 10px;
    color: black;
    text-decoration: none;
    margin-left:5vw;
    margin-right:5vw;
    font-weight: bold;
}

.boat:hover {
    animation: vogue 2s;
    animation-iteration-count: infinite;
}

.boat {
    position: relative;
    height: 40px;
    width: 40px;
    top: 5px;
}

.name {
    width:250px;
    font-size: xx-large;
    border-radius: 5%;
    border-width: 5px;
    border-color: blueviolet;
}

.titre {
    font-size: x-large;
}

/* animations */

@keyframes vogue {
    0% { transform: translate(10px, 1px) rotate(-5deg); }
    5% { transform: translate(20px, -1px) rotate(5deg); }
    10% { transform: translate(30px, -1px) rotate(5deg); }
    15% { transform: translate(40px, 1px) rotate(-5deg); }
    20% { transform: translate(50px, 1px) rotate(-5deg); }
    25% { transform: translate(60px, -1px) rotate(5deg); }
    30% { transform: translate(70px, -1px) rotate(5deg); }
    35% { transform: translate(80px, 1px) rotate(-5deg); }
    40% { transform: translate(90px, 1px) rotate(-5deg); }
    45% { transform: translate(100px, -1px) rotate(5deg); }
    50% { transform: translate(110px, -1px) rotate(5deg); }
    55% { transform: translate(120px, 1px) rotate(-5deg); }
    60% { transform: translate(130px, 1px) rotate(-5deg); }
    65% { transform: translate(140px, -1px) rotate(5deg); }
    70% { transform: translate(150px, -1px) rotate(5deg); }
    75% { transform: translate(160px, 1px) rotate(-5deg); }
    80% { transform: translate(170px, 1px) rotate(-5deg); }
    85% { transform: translate(180px, -1px) rotate(5deg); }
    90% { transform: translate(190px, -1px) rotate(5deg); }
    95% { transform: translate(200px, 1px) rotate(-5deg); }
    100% { transform: translate(210px, 1px) rotate(-5deg); }
}

/* page thomas */

div.case img {
    width: 60%;
    padding: 0 10% 0 10%;
    padding-top: 30px;
}

div.case16 img {
    padding-bottom: 150px;
}

/* autre */

.message-qui-viens-du-coeur {
    padding: 10px;
    font-family: cursive;
    background-color: black;
    margin: 200px 300px 0 300px;
    border-radius:10px;
    color:white;
}

.bateau {
    padding: 5px;
    font-family: cursive;
    background-color: black;
    margin: 20px 300px 0 300px;
    border-radius:10px;
    color:white;
}

.meurize {
    position: absolute;
    top: 70px;
    right: 110px;
}
#thomas{
    position: absolute;
    display: block;
    width: 100px;
    height: 100px;
    cursor:pointer;
}
audio{
    display:none;
}
